<!DOCTYPE html>
<html lang="en">
    <body>
        <h1>Upload parallel corpus</h1>
        <form action="/upload_one" method="POST">
            English:
            <input type="text" name="data1">
            Korean:
            <input type="text" name="data2">
            Source:
            <input type="text" name="src" value="common">
            <input type="submit" name="submit_button" value="Upload">
            
            <input type="hidden" name="lang1" value="en">
            <input type="hidden" name="lang2" value="kr">
        </form>
    </body>
</html>
